h1 {
      text-align:center;
      text-size: 60px
    }
    body {
      background-color:light purple;
      font-family: Monospaced font;
    }
    .background {
      background-color:black;
      margin:0;
      padding:30px;
	  border-radius: 15px;
    }
    .foreground {
      background-color:white;
      margin:auto;
      padding: 10px;
      border: 2px solid black;
      border-radius: 25px;
    }
    .textone {
    font-size:25px;
    font-family:helvetica;
    }
	
	.special1{
	background-image:url("VetCenterVI.webp");
	background-position:right center;
	background-repeat: no-repeat;
	}	
	
	table {
	border:5px solid;
	border-collapse:collapse;
	}
	
	th,td,tr {
	border:2px solid;
	}
	
	#thevivet {
	text-align:center;
	}
	
	#time {
	text-align:center;
	}
